.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
}

.item {
    flex: 1;
    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}

.item img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 10px;
}

.item p {
    font-size: 16px;
    color: #3d3d3d;
}
