main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* Header And Nav Bar */
header {
  background-color: #f9e2c8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  border-bottom: 3px solid #e4b48c;
}

header img {
  width: 50px;
  height: auto;
}

div {
  background-color: #fff3e0;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #e4b48c;
}

nav {
  text-align: center;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: brown;
  background-color: #f28c8c;
  font-weight: bold;
  margin: 0 10px;
  padding: 6px 12px;
  border-radius: 12px;
}

nav a:hover {
  background-color: #e57373;
}

/* ================= FOOTER ================= */
footer {
  background-color: #f9e2c8;
  text-align: center;
  padding: 15px;
  border-top: 3px solid #e4b48c;
}

form {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 70px;
}

input {
  background-color: #fff8ee;
  border-color: #f9e2c8;
}

a.login {
  text-decoration: none;
  background-color: #f28c8c;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 8px 14px;
  display: inline-block;
}
a.login:hover {
  cursor: pointer;
}
