/* Header And Nav Bar */
header {
    background-color: #f9e2c8;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    border-bottom: 3px solid #e4b48c;
}

header img {
    width: 50px;
    height: auto;
}

header h1 {
    margin: 0;
}

div {
    background-color: #fff3e0;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #e4b48c;
}

nav {
  text-align: center;
  padding: 10px 0;
}

nav a {
  text-decoration: none;        
  color: brown;                 
  background-color: #f28c8c;    
  font-weight: bold;            
  margin: 0 10px;               
  padding: 6px 12px;            
  border-radius: 12px;          
}

nav a:hover {
  background-color: #e57373;
}